.projectImgWrap{
    min-width:420px;
    padding-top:30px;
}
.projectImg{
    width: 420px;
    margin-right: 5px;
}
.projectTextWrap{
    height:213px;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:0;
    cursor:pointer;
    transition: all 500ms ease-in-out;
    transform: translate(0, 20px);
    background-color: rgba( 255, 255, 255, 0.5 );
}
.projectImgTextbox{
    height:170px;
    width:420px;
    font-weight:bolder;
    color:black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectImgText{
    width:420px;
    text-align:center;
}
.projectTextWrap:hover{
    opacity:1;
    transform: translate(0, 0px);
}
.sliderWrap{
    width:90%;
    height:50vh;
}
.modalBody{
    display:flex;
    justify-content: center;
}
.slick-prev:before,
.slick-next:before {
    font-size:25px;
    color: black;
}
.cardWrap{
    width:100%;
    display:flex;
    justify-content: center;
}

.stack{
    width:100%;
    min-height: 15vh;
    margin-top:50px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;;
}
.learning{
    width:100%;
    min-height: 15vh;
    margin-top:50px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;;
}
.summary{
    width:100%;
    min-height: 15vh;
    margin-top:300px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;;
}
.projectDetailHeader{
    width:25%;
    padding-bottom:30px;
    font-size:x-large;
}
.seperator{
    flex:1;
    height:1rem;
    border-bottom:1px solid lightgray;
}
.projectDetailText{
    padding-top:20px;
    padding-bottom: 50px;
    width:50%;
    white-space: pre-wrap;
}
.contribution{
    width:100%;
    min-height: 15vh;
    margin-top:50px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;;
}
.modalIcon{
    padding-right:20px;
    text-decoration: none;
    color:whitesmoke;
}
.modalIcon:hover{
    color:lightslategray;
}
.modalClose:hover{
    color:lightslategray;
}