.projectImgWrap{
    min-width:420px;
    padding-top:30px;
}
.projectImg{
    width: 420px;
    margin-right: 5px;
}
.projectTextWrap{
    height:213px;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:0;
    cursor:pointer;
    transition: all 500ms ease-in-out;
    transform: translate(0, 20px);
    background-color: rgba( 255, 255, 255, 0.5 );
}
.projectImgTextbox{
    height:170px;
    width:420px;
    font-weight:bolder;
    color:black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectImgText{
    width:420px;
    text-align:center;
}
.projectTextWrap:hover{
    opacity:1;
    transform: translate(0, 0px);
}
.sliderWrap{
    width:90%;
    height:50vh;
}
.modalBody{
    display:flex;
    justify-content: center;
}
.slick-prev:before,
.slick-next:before {
    font-size:25px;
    color: black;
}
.cardWrap{
    width:100%;
    display:flex;
    justify-content: center;
}

.stack{
    width:100%;
    min-height: 15vh;
    margin-top:50px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 19px 0px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    3px 3px 19px 0px rgba(50, 50, 50, 0.49);
    box-shadow:         3px 3px 19px 0px rgba(50, 50, 50, 0.49);
}
.learning{
    width:100%;
    min-height: 15vh;
    margin-top:50px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 19px 0px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    3px 3px 19px 0px rgba(50, 50, 50, 0.49);
    box-shadow:         3px 3px 19px 0px rgba(50, 50, 50, 0.49);
}
.summary{
    width:100%;
    min-height: 15vh;
    margin-top:200px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 19px 0px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    3px 3px 19px 0px rgba(50, 50, 50, 0.49);
    box-shadow:         3px 3px 19px 0px rgba(50, 50, 50, 0.49);
}
.projectDetailHeader{
    position: relative;
    top:-15px;
    left: 20px;
}
.projectDetailText{
    padding-left: 40px;
    padding-bottom: 30px;
}
.contribution{
    width:100%;
    min-height: 15vh;
    margin-top:50px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 19px 0px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    3px 3px 19px 0px rgba(50, 50, 50, 0.49);
    box-shadow:         3px 3px 19px 0px rgba(50, 50, 50, 0.49);
}
.modalIcon{
    padding-right:20px;
    text-decoration: none;
    color:black;
}
.modalIcon:hover{
    color:lightgray;
}